.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    border-radius: 2px;
    display: block;
    margin: 20px 0;
  }

  .form-field {
    min-width: 20rem;
    padding: 15px 20px !important;
  }