.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .mat-form-field {
    width: 100%;
  }
  


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }  
  
  button {
    border-radius: 2px;
    display: block;
    margin: 20px 0;
  }