:host {
  display: block;
}


.menu-list{
  color: (241,243,183);
}


mat-drawer-container  {
  min-height: calc( 100vh - 64px );
}




.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.date-hour-content {
  background: #3f51b538;
  text-align: center;
  padding: 10px 0;
}

