<mat-drawer-container autosize style="height: 100%; background-color: #5d6bd1">
  <!-- toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <button mat-icon-button aria-label="Toolbar menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1"></span>
    <button mat-icon-button aria-label="Account" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>

  <!-- drawer -->
  <mat-drawer #drawer mode="over" style="min-width: 250px; border-radius: 0px">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        Avc Hub
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-icon>account_circle</mat-icon>
        <span>{{user.nombre+' '+user.apellidoPaterno +' ' +user.apellidoMaterno}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row style="gap: 5px">
        <mat-icon>mail</mat-icon>
        <span>{{user.correo}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <app-menu-item *ngIf="!!menuItems" [menu]="menuItems"></app-menu-item>


  </mat-drawer>

  <!-- page content -->
  <div>
    <ng-content></ng-content>
  </div>
</mat-drawer-container>